<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if title %}
    <title>{{ title }} - Pet Bot</title>
    {% else %}
    <title>Pet Bot</title>
    {% endif %}
</head>
<body>
    <!-- Nav Bar - Home -->
    <a href="{{ url_for('home') }}">Home</a>

    <!-- Nav Bar - Login/Logout -->
    {% if current_user.is_anonymous %}
    <a href="{{ url_for('login') }}">Login</a>
    <a href="{{ url_for('register') }}">Register</a>
    {% else %}
    <a href="{{ url_for('logout') }}">Logout</a>
    {% endif %}

    <!-- Nav Bar - Profile -->
    {% if not current_user.is_anonymous %}
    <a href="{{ url_for('user', user_id=current_user.user_id) }}">Profile</a>
    {% endif %}

    <!-- Nav Bar - Edit Profile -->
    {% if not current_user.is_anonymous %}
    <a href="{{ url_for('edit_profile') }}">Edit Profile</a>
    {% endif %}

    <!-- Error Checking -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    <!-- Heading -->
    <h1>Pet Bot - {{ title }}</h1>
    {% block content %} {% endblock %}
</body>
</html>
